<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Deloco_Pos_C.Properties.Settings.fredConnectionString"
            connectionString="server=cluderay.clmxvwimtl0m.eu-west-1.rds.amazonaws.com;port=3306;user id=cluderay;database=fred;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>